body, html {
    background-color : #c6c6c6;
}

#mainBody {
}

#mainContents {
    background-color : #fff;
    position: absolute;
    width: 580px;
    height : 970px;
    margin: -250px 0 0 -300px;
    top: 50%;
    left: 50%;
    -moz-border-radius: 55px;
    border-radius: 55px;
    box-shadow: #666 2px 2px 10px;
    background: #CECCCA;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CECCCA), to(#FFFFFF));
    background: -webkit-linear-gradient(#CECCCA, #FFFFFF);
    background: -moz-linear-gradient(#CECCCA, #FFFFFF);
    background: -ms-linear-gradient(#CECCCA, #FFFFFF);
    background: -o-linear-gradient(#CECCCA, #FFFFFF);
    background: linear-gradient(#CECCCA, #FFFFFF);
    -pie-background: linear-gradient(#CECCCA, #FFFFFF);
}

.hrStyle {
    width : 480px;
    margin-left : -20px;
}

.buttonStyles {
    border: 1px solid #7c7e7c;
    padding: 0px 0;
    text-align: center; 
    width: 100px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 4px;
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    background: #CECCCA;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CECCCA), to(#FFFFFF));
    background: -webkit-linear-gradient(#CECCCA, #FFFFFF);
    background: -moz-linear-gradient(#CECCCA, #FFFFFF);
    background: -ms-linear-gradient(#CECCCA, #FFFFFF);
    background: -o-linear-gradient(#CECCCA, #FFFFFF);
    background: linear-gradient(#CECCCA, #FFFFFF);
    -pie-background: linear-gradient(#CECCCA, #FFFFFF);
    behavior: url(/pie/PIE.htc);
    height : 40px;
}

.dropDownListStyles {
    width : 200px;
    height : 30px;
    font-size : 12px;
    margin-left : 20px;
}

.textBoxStyles {
    width : 195px;
    height : 25px;
    font-size : 12px;
    margin-left : 20px;
}